In [38]:
a = {"type":'int', "num_values":5, "oi": 3}
for i in a:
    print(f"{i} -> {a[i]}")

type -> int
num_values -> 5
oi -> 3

In [40]:
a = dict(type='float', shape=10)

TypeError: 'dict' object is not callable

In [ ]:
import pandas as pd
teste = pd.DataFrame({
    "oi": [1,2,3],
    "tchau":[4,5,6]    
})
print(teste)

In [ ]:
dicio = {"dataset": teste}

In [ ]:
print(dicio["dataset"].shape[0])

In [5]:
import pandas as pd
dataset_ordens = pd.read_excel('inputs/dataset_ordens.xlsx')
dataset_ordens.head()

,id_material,tipo_material,due_date,tempo_processamento_maquina1,tempo_processamento_maquina2,tempo_processamento_maquina3
0,mat001,escuro,1000,381,377,381
1,mat002,claro,1000,371,361,356
2,mat003,escuro,1000,485,364,444
3,mat004,escuro,1000,394,405,349
4,mat005,claro,1000,430,432,364

In [3]:
id_material = dataset_ordens["id_material"]
i = 5
id_material[20+i]

'mat026'

In [ ]:
dataset_ordens.shape[0]
id_material = dataset_ordens["id_material"]

In [ ]:
id_material[0]

In [ ]:
vetor = [1,2]
print(vetor)
vetor.append(3)
print(vetor)

In [ ]:
for a,b in enumerate(id_material):
    print(a)
    print(b)

In [ ]:
dicio2 = dict
print(dicio2)

In [45]:
dicio1 = {"a": 1, "b": 2}
dicio2 = {"c": 3, "d": 4}
dicio3 = {}

dicio3.update({"dicio1": dicio1})
dicio3.update({"dicio2": dicio2})

print(dicio3)

for i in dicio3:
    print(f"{i} -> {dicio3[i]}")

{'dicio1': {'a': 1, 'b': 2}, 'dicio2': {'c': 3, 'd': 4}}
dicio1 -> {'a': 1, 'b': 2}
dicio2 -> {'c': 3, 'd': 4}

In [46]:
states = {
    "observation": {"type":'float', "shape":[16, 16, 3]},
    "attributes": {"type":'int', "shape":(4, 2), "num_values":5}
}

print(states)

for i in states:
    print(f"{i} -> {states[i]}")

{'observation': {'type': 'float', 'shape': [16, 16, 3]}, 'attributes': {'type': 'int', 'shape': (4, 2), 'num_values': 5}}
observation -> {'type': 'float', 'shape': [16, 16, 3]}
attributes -> {'type': 'int', 'shape': (4, 2), 'num_values': 5}

In [2]:
a = int("7")
b = float("7.5")
print(a)
print(type(a))
print(b)
print(type(b))

7
<class 'int'>
7.5
<class 'float'>

In [3]:
abs(-75)

75

In [12]:
len(pd.DataFrame({"b": [0,1,2,3,4,5,6,2,3,4,5,2,1,23,4,2,1]})["b"].unique())

8

In [1]:
a = ["mtt1", "mtt2", "mtt3", "mtt4"]
print("mtt3" in a)

True

In [3]:
import numpy as np
my_array = [False] * 60
print(my_array)

[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]

In [3]:
a = [1,2,3,4,5,6,7,8]
NUM_1 = 3
NUM_2 = 3
NUM_3 = 2

b = a[:NUM_1]
c = a[NUM_1:(NUM_1+NUM_2)]
d = a[(NUM_1+NUM_2):(NUM_1+NUM_2+NUM_3)]
print(b)
print(c)
print(d)

[1, 2, 3]
[4, 5, 6]
[7, 8]

In [7]:
a = [1,2,3,4,5,6,7,8,9]
NUM = 3

b = a[:NUM]
c = a[NUM:NUM*2]
d = a[NUM*2:NUM*3]
print(b)
print(c)
print(d)
e = [b,c,d]
print(e[0])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[1, 2, 3]

In [5]:
a = []
a.append(1)
print(a)
a[0] = 2
print(a)

[1]
[2]